#banner{
height:250px;
width: 100%;

}
#nav:relative{
top:240px;
}
nav a{
  float: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: grey;
 
}
#nav a:hover{
 background-color: LightGrey;
 color: black;
}
#nav a.active{
 background-color: yellow;
 color: white;
}
img {
  border: 5px solid #555;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#div1{
width: 500px;
height: 300px;
position:absolute;
left: 50px;
top:350px;
padding: 10px;
border: solid 5px;
border-radius: 20%;

}

#div2{
width: 500px;
height: 600px;
position: absolute;
top: 350px;
right:50px;
padding: 10px;
border: solid 5px;
border-radius: 10%;
}
html, body{	
margin: 0;
padding: 0;
border: 0;
}
body{
background-color: green;
}
#footer{
position:bottom;
top:100px;
width: 100%;
background-color:black;
color: white;

}
